.Main-body {
  background-color: aliceblue;
  /* height: 500px; */
  border-top: 1px black solid;
  border-bottom: 1px black solid;
}
.footer-bar {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-bar {
  height: 70px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.Body {
  width: 500px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1px;
}
.Links{
  text-decoration: none;
  margin: 5px;
}
.Cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.Card{
  width: 230px;
  margin: 4px 5px;
  text-align: left;
  padding: 3px;
}
.ReadMoreButton{
  width: 88px;
  margin-top: auto;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
}
