.InputField {
  width: 192px;
  font-weight: bold;
}
.Card {
  width: 200px;
  margin: 10px;
  background-color: aliceblue;
  text-transform: uppercase;
}
.Cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.Button {
  width: 88px;
}
.Display {
  display: flex;
  justify-content: center;
}
.Display1 {
  width: 450px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Heading {
  color: rgb(255, 255, 255);
  background-color: black;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 30px;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
  width: 100%;
  /* text-decoration: underline; */
}
.Content {
  background-color: aliceblue;
  color: red;
  font-style: italic;
  height: 400px;
  overflow: auto;
  font-size: 20px;
  text-align: justify;
}
.Content::first-letter {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  margin: 1px;
}
.MorePost{
    margin-left: auto;
}
